pytest
numpy
matplotlib
torch
torchvision
torchsummary
devito
pycm
scikit-learn
scikit-image
ipython
pandas
hyperopt
ray[train]
optuna
bayesian-optimization
grpcio
scikit-learn
jupyter
tqdm
ruff
pyDOE
